html {
  font-size: 100%;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}

.background {
  background-color: #110016;
}

footer {
  background-color: #E6245E;
  text-align: center;
  color: white;
  padding: 5px;
}

h1, p, figcaption, li, label {
  color: #E6245E;
}

h1 {
  padding-top: 2rem;
}

figure {
  display: inline-block !important;
  text-align: center;
  margin: 1rem !important;
}

figure img {
  vertical-align: top;
}

figure img:hover {
  box-shadow: 0px 0px 15px #E6245E;
}

.letter-links {
  color: #E6245E;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: larger;
}

.letter-links:focus {
  outline: none;
}

.letter-links:hover {
  color: #92073f;
}

.btn-primary {
  background-color: #E6245E !important;
  border: none !important;
  margin-bottom: 1rem;
}

.btn-primary:hover {
  background-color: #92073f !important;
}

.btn-primary:focus, .btn-primary:active:focus, select:focus, select:active:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-search {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  vertical-align: top !important;
}

input {
  height: 36px;
  border: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-indent: 0.5rem;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

.letter-selected {
  background-color: white;
  border-radius: 0.5rem;
}

select {
  cursor: pointer;
  border-radius: .25rem;
  height: 34px;
}

label {
  padding-right: 0.5rem;
}

a {
  color: white !important;
  text-decoration: underline !important;
}